html {
  font-size: 10px;
}

body {
  font-family: "Poppins";
}

.main .container {
  padding: 0;
  margin: 0 auto;
  width: 1400px;
}

a {
  text-decoration: none;
  color: #000000;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins";
}

.main .container {
  padding: 0;
  margin: 0 auto;
  width: 1400px;
}

a {
  text-decoration: none;
  color: #000000;
}

.header {
  padding-top: 4.8rem;
}
.header .header_container {
  width: 1400px;
  margin: 0 auto;
}
.header .header_container .header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header_container .header_top .nav .nav_link {
  color: #606060;
  font-family: "Inter", sans-serif;
  display: inline-block;
  position: relative;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.6rem;
  text-transform: uppercase;
  margin-right: 5.3rem;
  overflow: hidden;
  text-decoration: none;
}
.header .header_container .header_top .nav .nav_link:last-child {
  margin-right: 0;
}
.header .header_container .header_top .nav .nav_link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.header .header_container .header_top .nav .nav_link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#ff4b2b), to(#ff416c));
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.header .header_container .header_interactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header_container .header_interactive .search-container {
  background: #fff;
  height: 5.7rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  margin-right: 3rem;
}
.header .header_container .header_interactive .search-container:hover {
  -webkit-animation: hoverShake 0.15s linear 3;
          animation: hoverShake 0.15s linear 3;
}
.header .header_container .header_interactive .search-container:hover > .search-input {
  width: 34rem;
}
.header .header_container .header_interactive .search-container .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 1.6rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.header .header_container .header_interactive .search-container .search-btn .fas {
  color: #5cbdbb;
}
.header .header_container .header_interactive .header_btn {
  padding: 1.6rem 2.4rem;
  border-radius: 1.6rem;
  background: #141416;
  color: #FFF;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
}
.header .header_container .header_interactive .header_btn:hover {
  background-color: black;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.header .header_container .header_interactive .header_btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
@media (max-width: 1024px) {
  .header .header_container {
    width: 880px;
  }
  .header .header_container .header_top .nav .nav_link {
    margin-right: 3.8rem;
    font-size: 12px;
  }
  .header .header_container .header_top .nav .nav_link:last-child {
    margin-right: 0;
  }
  .header .header_container .header_top .nav .nav_link::after {
    height: 1px;
  }
  .header .header_container .header_top .header_interactive .search-container {
    height: 4.5rem;
    padding: 0.8rem 1.6rem;
    margin-right: 2rem;
  }
  .header .header_container .header_top .header_interactive .search-container:hover > .search-input {
    width: 24rem;
  }
  .header .header_container .header_top .header_interactive .search-container .search-input {
    font-size: 1.8rem;
  }
  .header .header_container .header_top .header_interactive .header_btn {
    padding: 1.1rem 1.7rem;
    font-size: 11.501px;
  }
}
@media (max-width: 375px) {
  .header .header_container {
    width: 310px;
  }
  .header .header_container .header_interactive,
  .header .header_container .nav {
    display: none;
  }
  .header .header_container .menu-wrap {
    display: block;
  }
}
.menu-wrap {
  position: fixed;
  top: 0;
  right: 5px;
  z-index: 1;
  display: none;
}
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.menu-wrap .hamburger > div:before, .menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
.menu-wrap .hamburger > div:after {
  top: 10px;
}
.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
}
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu-wrap .menu > div {
  background-color: rgba(24, 39, 51, 0.85);
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div .nav_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
}
.menu-wrap .menu > div > div .nav_mobile .nav_link__mobile {
  font-size: 12px;
  color: #606060;
  font-family: "Inter", sans-serif;
  position: relative;
  margin-bottom: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  overflow: hidden;
  text-decoration: none;
}
.menu-wrap .menu > div > div .nav_mobile .nav_link__mobile:last-child {
  margin-right: 0;
}
.menu-wrap .menu > div > div .nav_mobile .nav_link__mobile:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.menu-wrap .menu > div > div .header_interactive__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-wrap .menu > div > div .header_interactive__mobile .search-container {
  background: #fff;
  border-radius: 1rem;
  padding: 1.6rem 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  margin-right: 3rem;
}
.menu-wrap .menu > div > div .header_interactive__mobile .search-container:hover {
  -webkit-animation: hoverShake 0.15s linear 3;
          animation: hoverShake 0.15s linear 3;
}
.menu-wrap .menu > div > div .header_interactive__mobile .search-container:hover > .search-input {
  width: 12rem;
}
.menu-wrap .menu > div > div .header_interactive__mobile .search-container .search-input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 1.6rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.menu-wrap .menu > div > div .header_interactive__mobile .search-container .search-btn .fas {
  color: #5cbdbb;
}
.menu-wrap .menu > div > div .header_interactive__mobile .header_btn {
  padding: 1.6rem 2.4rem;
  border-radius: 1.6rem;
  background: #141416;
  color: #FFF;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
  padding: 1.6rem 1.3rem;
  font-size: 11.501px;
  margin-top: 10px;
}
.menu-wrap .menu > div > div .header_interactive__mobile .header_btn:hover {
  background-color: black;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.menu-wrap .menu > div > div .header_interactive__mobile .header_btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins";
}

.main .container {
  padding: 0;
  margin: 0 auto;
  width: 1400px;
}

a {
  text-decoration: none;
  color: #000000;
}

html {
  font-size: 10px !important;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}