

@mixin flex-row($justify: space-between, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin grid-6x5 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 10px;
}
@mixin grid-4-cards-2-rows {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 15px;
}